body {
  background-image: url(./assets/enceinte.png);
  background-repeat: no-repeat;
  background-position: top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 95%;
  height: auto;
}

nav img {
  float: left;
  width: 9%;
  height: auto;
  margin-right: 5%;
}

nav li {
  list-style-type: none;
  float: left;
}

#navbar {
  margin: 2%;
  padding: 0px;
}
nav ul {
  margin: 0px;
  padding: 0px;
}

nav > ul > li {
  text-align: center;
  float: left;
  position: relative;
  width: 11%;
}

.submenu {
  display: none;
}

nav {
  width: 100%;
  padding: 2%;
  background-color: #fff;
}

nav > ul::after {
  content: "";
  display: block;
  clear: both;
}

nav > ul > li > a {
  padding: 20px 20px;
  color: #000;
  letter-spacing: 1px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 20px;
}

nav li:hover .submenu {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
}
.submenu li {
  border-bottom: 1px solid #ccc;
}
.submenu li a {
  padding: 15px 30px;
  font-size: 15px;
  color: #000000;
  width: 28em;
  word-spacing: 5px;
  background-color: rgba(194, 194, 194, 0.2);
}

.menu:hover {
  border-top: 5px solid rgba(235, 229, 229, 0.582);
  background-color: rgba(194, 194, 194, 0.2);
}

.menu .submenu {
  background-color: rgba(255, 255, 255, 0.7);
}

.submenu li:hover a {
  color: #000000;
  font-weight: bold;
}
.menu .submenu li:hover {
  background-color: rgba(194, 194, 194, 0.2);
}

nav > ul > li:hover > a {
  padding: 15px 20px 20px 20px;
}

.content {
  margin-left: 8%;
  padding: 0px;
}
.text h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #2871b7;
}

.text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #292929;
}

.divButton .styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
  background-color: #cd5a83;
}
